<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/login.css" />
</head>
<body>
    <div>
        <div class="mainDiv">
            <form action="/" method="post">
                <div class="flexDiv">
                    <div class="labelDiv">Email</div>
                    <input class="inputBox" name="email" id="email" />
                </div>
                <div class="flexDiv">
                    <div class="labelDiv label2">Password</div>
                    <input class="inputBox" name="password" id="password" type="password"/>
                </div>

                <div class="center"><button class="center loginBtn" type="submit">Log In</button></div>
                <div class="center"><input type="checkbox" name="terms" value="terms" />Agree to terms and conditions <a href="">link</a></div>
            </form>
            <hr class="hr">
            <div class="center light">Don't have an account?</div>
            <div class="center"><button class="registerBtn">Create account</button></div>
        </div>
    </div>
</body>
</html>