<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/login.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
</head>
<body>
    <div>
        <div class="mainDiv">
            <form action="/addAccount" method="post">
                <div class="flexDiv">
                    <div class="labelDiv">First Name</div>
                    <input class="inputBox" name="fname" id="fname" required />
                </div>
                <div class="flexDiv">
                    <div class="labelDiv">Last Name</div>
                    <input class="inputBox" name="lname" id="lname" required />
                </div>
                <div class="flexDiv">
                    <div class="labelDiv">Email</div>
                    <input class="inputBox" name="email" id="email" required />
                </div>
                <div class="flexDiv">
                    <div class="labelDiv">Password</div>
                    <input class="inputBox" name="password" id="password" type="password" required />
                </div>
                <div class="center"><button class="registerBtn" type="submit">Create account</button></div>
            </form>
        </div>
    </div>
</body>
</html>