#layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

#left-bar {
    padding: 10px;
    overflow-y: scroll;
}
#product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#item {
    padding: 10px;
}

#view {
    height: 30px;
    display: flex;            
    justify-content: flex-end;
    align-content: flex-end;
    padding: 10px 10px 0 0;
    gap: 20px;
}
button{
    width: 100%;
    background-color: yellow;
    border-color: yellow;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
}