#layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

#left-bar {
    padding: 10px;
    overflow-y: scroll;
}

#mid-bar {
}

#product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#item {
    padding: 10px;
}

#view {
    height: 30px;
    display: flex;            
    justify-content: flex-end;
    align-content: flex-end;
    padding: 10px 10px 0 0;
    gap: 20px;
}